!.vscode/extensions.json
*.class
*.csv
*.db
*.exe
*.filters
*.idb
*.ilk
*.iml
*.ipch
*.local
*.log
*.njsproj
*.ntvs*
*.obj
*.pdb
*.recipe
*.sln
*.suo
*.sw?
*.tlog
*.tsbuildinfo
*.txt
*.user
*.vcxproj
.DS_Store
.idea
.idea/
.verysync/
.vscode/*
/cypress/screenshots/
/cypress/videos/
CProject/T230522/CMakeLists.txt
cmake-build-debug/
coverage
dist
dist-ssr
lerna-debug.log*
logs
node_modules
npm-debug.log*
pnpm-debug.log*
target/
yarn-debug.log*
*/shareTemp
*/DownloadTemp
*/log
*/config
*.jks
