<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.muyangyo.filesyncclouddisk.common.mapper.wrapped.MountDirMapper">

    <select id="select" resultType="com.muyangyo.filesyncclouddisk.common.model.meta.MountDir">
        SELECT
        mountDir
        FROM mountDirs
    </select>

    <insert id="insert" parameterType="com.muyangyo.filesyncclouddisk.common.model.meta.MountDir">
        INSERT INTO mountDirs (mountDir) VALUES (#{mountDir})
    </insert>

    <update id="update" parameterType="com.muyangyo.filesyncclouddisk.common.model.meta.MountDir">
        UPDATE mountDirs
        SET
        mountDir = #{mountDir}
    </update>
</mapper>